<div class="ui modal" id="fields-link">
    <div class="header">添加关联字段</div>
    <div class="content">
        <div class="ui attached top steps">
            <div class="step">
                <i class="truck icon"></i>

                <div class="content">
                    <div class="title">选择关联字段</div>
                    <div class="description">选择其他数据关联的字段</div>
                </div>
            </div>
            <div class="active step">
                <i class="payment icon"></i>

                <div class="content">
                    <div class="title">查询语句</div>
                    <div class="description">按数据源类型查询相应的查询语句</div>
                </div>
            </div>
            <div class="disabled step">
                <i class="info icon"></i>

                <div class="content">
                    <div class="title">配置返回结果</div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
             <select class="ui selection dropdown">{#多选#}
                 <option>商户ID</option>
                 <option>统计日期</option>
                 <option>门店ID</option>
             </select>
        </div>
        <div class="ui buttons">
            <a class="ui positive button">
                保存
            </a>
        </div>
    </div>
</div>