{% extends 'layout.html' %}
{% block body %}
    <div class="ui segment">
        <form>
            <select class="ui selection dropdown">
                {% for i in datasources %}
                    <option>{{ i.title }}</option>
                {% endfor %}
            </select>

            <br/>

            <textarea class="ui segment" id="sql-statement" cols="100" rows="6">
                SELECT * FROM xiaoya_crm.profession
            </textarea>

            <br/>
            {#variables:
            <select class="ui selection dropdown">
                <option>begin_time</option>
                <option>end_time</option>
            </select>#}

            <div class="ui buttons">
                <a class="ui  button" id="test-query">
                    {#                    <li class="ui icon layout"></li>#}
                    测试
                </a>
                <a class="ui  button" id="test-query">
                    {#                    <li class="ui icon layout"></li>#}
                    导入列
                </a>
            </div>
            <div class="ui grid segment">
                <div class="three wide stretched column">
                    <div class="ui vertical fluid tabular menu" id="columns">
                        <a class="item">brand_id</a>
                        <a class="item">login_count{#登录数量#}</a>
                        <a class="item active">total{#虚拟列#}</a>
                        <a class="item ">
                            <i class="ui icon add"></i> add column
                        </a>
                    </div>
                </div>
                <div class="thirteen wide column">
                    <div class="ui form input">
                        <div class="four fields">
                            <div class="field">
                                <label>字段名称</label>
                                <input type="text" placeholder="商户ID">
                            </div>
                            <div class="field">
                                <label>数据源</label>
                                <select class="ui selection dropdown">
                                    <option>default</option>
                                    <option>xiaoya</option>
                                    <option>daya</option>
                                </select>
                            </div>
                            {#                        </div>#}
                            {#                        <div class="two fields">#}
                            <div class="field">
                                <label>字段类型</label>
                                <select class="ui  selection dropdown"> {#compact#}
                                    <option>dimension</option>
                                    <option>feature</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>默认值</label>
                                <select class="ui selection dropdown">
                                    <option>0</option>
                                    <option>nothing</option>
                                </select>
                            </div>
                        </div>
                        <div class="one fields">
                            <div class="field">
                                <div class="ui menu">
                                    <a class="item">
                                        <i class="ui icon add"></i>
                                        添加值映射
                                    </a>
                                    <br/>
                                    <a class="item">
                                        <i class="ui icon add"></i>
                                        关联新字段
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui buttons">
                <a class="ui positive button">
                    保存
                </a>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $('#test-query').click(function () {
            var sql = $('#sql-statement').val()
            $.ajax('/test_query', {
                data: {query: sql, datasource: 'xiaoya'},
                method: 'POST',
                success: function (data) {
                    console.log(data)
                    for (var i in data.description) {
                        $('#columns').append(' <a class="item">' + data.description[i] + '</a>')
                    }
                }
            })
        })
    </script>
{% endblock %}