{% extends 'layout.html' %}
{% block body %}
    <table class="ui teal small celled table selectable">
        <thead>
        <tr>
            <th>是否启用</th>
            <th>名称</th>
            <th>配置信息</th>
            <th>分组名称</th>
        </tr>
        </thead>
        <tbody>
        {% for ds in datasources %}
            <tr>
                <td class="one wide">
                    <input type="radio" class="ui radio checkbox" name="data">
                </td>
                <td> {{ ds.title }} </td>
                <td> {{ ds.url }} </td>
                <td>
                    <div class="ui fitted toggle checkbox">
                        <input type="checkbox"> <label></label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4">
                <div class="ui left floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
                <a class="ui right floated primary labeled icon button" href="/datasource_config">
                    <i class="table icon"></i> 添加数据源
                </a>
                <a class="ui right floated primary  icon button" href="/datasource_config">
                    配置选中数据源
                </a>
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}