<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表首页</title>
    <script src="//cdn.bootcss.com/jquery/2.2.0/jquery.js" type="text/javascript"></script>
    <script src="/static/semantic/semantic.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/semantic.css">

    <script src="/static/semantic/components/checkbox.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/checkbox.min.css">
</head>
<body>
<div class="toc">
    <div class="ui vertical inverted sticky menu fixed top">
        <div class="item">
            <div class="header">Usage</div>
            <div class="menu">
                <a class="item" href="/"> Theming </a>
                <a class="item" href="/"> Layouts </a>
            </div>
        </div>
        <div class="item">
            <div class="header">Usage</div>
            <div class="menu">
                <a class="item" href="/"> Theming </a>
                <a class="item" href="/"> Layouts </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>