{% extends "layout.html" %}
{% block body %}
    <div class="full height">
        <div class="toc">
            <div class="ui vertical inverted sticky menu fixed top black">
                <div class="item">
                    <div class="header"> 报表1</div>
                    <div class="menu">
                        <div class="item"> 积份商城</div>
                    </div>
                </div>
                <div class="item">
                    <div class="header"> 报表2</div>
                    <div class="menu">
                        <div class="item">
                            <i class="layout icon"></i> <a class="" href="/">日报</a>
                        </div>
                        <div class="item"> 周报</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微dd信</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="ui card">
                <div class="extra content">
                    <i class="user icon"></i>
                        小雅日报
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>

            </div>
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="">
                </div>
                <div class="content">
                    <a class="header">Kristy</a>
                    <div class="meta">
                        <span class="date">Joined in 2013</span>
                    </div>
                    <div class="description">
                        Kristy is an art director living in New York.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}