{% extends "layout.html" %}
{% block body %}
    <div class="ui left vertical inverted sidebar labeled icon menu">
        <a class="item" href="/chart/config">
            <i class="bar chart icon"></i>
            报表配置
        </a>
        <a class="item" href="/datasource_config">
            <i class="block database icon"></i>
            数据源配置
        </a>
        <a class="item" href="/monitor">
            <i class="laptop icon"></i>
            监控
        </a>
    </div>
    <div class="full height">
        <div class="toc">
            <div class="ui vertical inverted sticky menu fixed top black">
                <div class="item">
                    <div class="header"> 报表1</div>
                    <div class="menu">
                        <div class="item">
                            <a class="" href="javascript:$('.ui.labeled.icon.sidebar') .sidebar('toggle') ;">
                                <i class="sidebar icon"></i>
                                配置
                            </a>
                        </div>
                        <div class="item">
                            <a class="" href="/">积份商城</a></div>
                        <div class="item">
                            <a class="" href="/">微渠道</a></div>
                    </div>
                </div>
                <div class="item">
                    <div class="header"> 报表2</div>
                    <div class="menu">
                        <div class="item active">
                            <i class="layout icon"></i> <a class="" href="/">日报</a>
                        </div>
                        <div class="item"><a class="" href="/">周报</a></div>
                        <div class="item"><a class="" href="/">样板商户</a></div>
                        <div class="item">数据</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"> 微信</div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                        <div class="item"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="article" style="padding: 5px;;">
            <div class="ui pointing secondary menu">
                <a class="active item" data-tab="first">日报总览</a>
                <a class="item" data-tab="second">积份商城</a>
                <a class="item" data-tab="third">有效数据</a>
            </div>
            <div class="ui card" style="width:500px;box-shadow:none">
                <div class="extra content" style="border-top:none !important;">
                    <div class="ui grid" style="width: 100%;">
                        <div class="column">
                            <i class="user icon"></i> 日报
                            <a href="javascript:void(0)" onclick="$('#chart1,#table1').toggle()">表格</a>
                            <a href="/"><i class="download icon"></i>下载csv文件</a>
                        </div>
                    </div>
                </div>
                <div class="content" style="border-top:none !important;">
                    <div class="description">
                        一共30000家商户，500000家门店
                        <div id="chart1"></div>
                        <script type="text/javascript">
                            var chart = c3.generate({
                                bindto: '#chart1',
                                data: {
                                    columns: [
                                        ['门店增加数量', 30, 200, 100, 400, 150, 250],
                                        ['商户增加数量', 50, 20, 10, 40, 15, 25]
                                    ],
                                    types: {
                                        '门店增加数量': 'bar',
                                    }
                                },
                                axis: {
                                    {#                                    rotated: true#}
                                }
                            });
                        </script>
                        <table class="ui celled red table" id="table1" style="display: none;">
                            <thead>
                            <tr>
                                <th colspan="">日期</th>
                                <th colspan="">门店数</th>
                                <th colspan="">商家数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="collapsing"><i class="folder icon"></i> node_modules</td>
                                <td>Initial commit</td>
                                <td class="right aligned collapsing">10 hours ago</td>
                            </tr>
                            <tr>
                                <td><i class="folder icon"></i> test</td>
                                <td>Initial commit</td>
                                <td class="right aligned">10 hours ago</td>
                            </tr>
                            <tr>
                                <td><i class="folder icon"></i> build</td>
                                <td>Initial commit</td>
                                <td class="right aligned">10 hours ago</td>
                            </tr>
                            <tr>
                                <td><i class="file outline icon"></i> package.json</td>
                                <td>Initial commit</td>
                                <td class="right aligned">10 hours ago</td>
                            </tr>
                            <tr>
                                <td><i class="file outline icon"></i> Gruntfile.js</td>
                                <td>Initial commit</td>
                                <td class="right aligned">10 hours ago</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">
                                    <div class="ui right floated pagination menu">
                                        <a class="icon item">
                                            <i class="left chevron icon"></i>
                                        </a>
                                        <a class="item">1</a>
                                        <a class="item">2</a>
                                        <a class="item">3</a>
                                        <a class="item">4</a>
                                        <a class="icon item">
                                            <i class="right chevron icon"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}