<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表首页</title>
    <script src="/static/jquery.js" type="text/javascript"></script>
    <script src="/static/semantic/semantic.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/semantic.css">
    <script src="/static/semantic/components/checkbox.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/checkbox.min.css">
    <script src="/static/semantic/components/search.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/search.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/reset.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/application.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/menu.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/dropdown.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/popup.min.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/transition.min.css">
    <script type="text/javascript" src="/static/semantic/components/dropdown.js"></script>
    <script type="text/javascript" src="/static/semantic/components/popup.js"></script>
    <script type="text/javascript" src="/static/semantic/components/transition.js"></script>

    <script type="text/javascript" src="/static/semantic/components/form.js"></script>
    <script type="text/javascript" src="/static/semantic/components/sidebar.js"></script>
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/sidebar.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/form.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/icon.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/layout.css">
    <link rel="stylesheet" type="text/css" class="ui" href="/static/semantic/components/input.min.css">

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>